# Ignore backend database files
/backend/db/

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
/.idea/
*.iml

# Compiled class files
/**/*.class

# Logs
logs/
*.log

# OS files
Thumbs.db
.DS_Store
